:root {
    --box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, .3);
    --box-shadow-hover: 4px 4px 4px 1px rgba(0, 0, 0, .5);
    --color-primary: cornflowerblue;
    --color-secondary: dimgrey;
    --color-error: darkred;
    --margin-container-small: 4px;
    --margin-container-medium: 8px;
    --margin-container-large: 12px;
    --margin-container-extra-large: 16px;
    --padding-container-small: 4px;
    --padding-container-medium: 8px;
    --padding-container-large: 12px;
    --padding-container-extra-large: 16px;
}

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #eef1f6;
}

* {
    box-sizing: border-box;
    margin: var(--margin-container-small);
    padding: var(--margin-container-small);
    //border: solid 1px var(--color-secondary);
}

.text {
    font-size: 14px;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.change-detection-log {
    color: var(--color-error);
    font-size: 12px;
    margin: var(--margin-container-medium) 0;
}
