:host {
    display: block;
    padding: var(--padding-container-medium);

    .user-image {
        display: inline-block;
        height: 24px;
        width: 24px;
    }

    .user-data {
        margin-left: var(--margin-container-large);
        width: 200px;
    }
}
