:host {
    border-left: solid 3px var(--color-primary);
    display: block;
    margin: var(--margin-container-medium) 0;
    padding: var(--padding-container-medium);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .tags {
        display: flex;
        margin-top: 8px;

        .tag {
            background-color: var(--color-primary);
            border-radius: 2px;
            color: white;
            display: inline;
            font-size: 12px;
            margin: 0 var(--margin-container-small);
            padding: var(--margin-container-small);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .comments {
        margin-top: var(--margin-container-medium);
    }

    .actions {
        margin: var(--margin-container-medium) 0;

        & > * {
            margin-right: var(--margin-container-large);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
